{% extends "template.html.twig" %}

{% block title %}
    {{ parent() }}
    Contact
{% endblock %}

{% block body %}
    <h1>FORMULAIRE DE CONTACT</h1>
    
    <form id="formulaire" action="action_page.php"> 
        Nom / Prénom: <br>
        <input id="nomprenom" type="text" name ="nom">
        <br>
        Adresse mail : <br>
        <input id="mail" type="email" name="email">
        <br>
        Objet : <br>
        <input id="objet" type="text" name="objet">
        <br><br>
        Message : <br>
        <textarea id="message" type="text" name ="message"></textarea>
        <br><br>
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
    
    <div></div>
   
{% endblock %}
