{% extends "template.html.twig" %}

{% block title %}
   {{ parent() }}
    Qui
{% endblock %}

{% block body %}
   <h2>Forget Me Not</h2>
     <div class="forget">Petite société familiale ouverte depuis peu, nous avons
     decidé de livrer des fleurs en entreprise, pour un petit rapport avec 
     la protection de la planéte nous decidons donc de faire les livraisons a vélo. </div>

   <div class="bloctexte">

     <div><h2>Patrick</h2>
       <div class="patrick">Patrick Poivre d'Arvor est né le 20 septembre 1947 à
           Reims, dans la Marne. Fils d'un directeur commercial et d'une mère 
           au foyer, il grandit dans sa ville natale avec sa soeur, Catherine,
           et son frère, Olivier, de son onze ans son cadet. Dès son plus jeune 
           âge, il contracte le goût de la lecture. A l'âge de 13 ans, atteint 
           d'une leucé­mie, il est envoyé dans un sanatorium en Alsace pour 
           être soigné. Elève brillant, il décroche son baccalauréat à 15 ans.
           Il intègre l'Institut d'Etudes Poltiques de Stras­bourg puis celui
           de Paris, et poursuit ses études au Centre de Formation des 
           Journalistes d'où il sort diplômé en 1971.Il débute sa carrière sur 
           les ondes radio de France Inter en 1971. Après trois ans passés sur 
           la station où il coiffe la casquette de grand repor­ter, il est 
           engagé par Antenne 2 comme chef du service poli­tique. En février 
           1976, la chaîne lui confie la présen­ta­tion du jour­nal télé­visé 
           de 20h.</div></div>

    {# <div><img src="{{ asset ('img/separation.png') }}" class="Separation"></a></div>#}

   <div><h2>Claire</h2>
     <div class="claire">Claire Chazal, native de Thiers en Auvergne, Elle passe
         sa petite enfance en périphérie de Paris, à Bagnolet. Son père, 
         Jean Chazal, fils d'ouvrier devenu haut fonctionnaire après avoir 
         réussi l'ENA, et sa mère, Josette, institutrice puis professeur agrégé 
         de lettres, lui transmettent le sens de la discipline et de l'effort. 
         Elle a un frère aîné, Philippe (né en 1952). Élève studieuse, elle 
         reçoit une éducation exigeante. Claire a 5 ans lorsque toute la famille
         s'installe dans le XVIe arrondissement de Paris. Sa mère enseigne alors
         au lycée Jean-Baptiste Say. Claire Chazal entre à l'école primaire de 
         filles et rencontre Nathalie qui aujourd'hui encore est une amie très 
         proche, et la marraine de son fils. Lorsqu'elle n'est pas plongée dans 
         ses lectures, la petite Claire pratique la danse classique. La bonne 
         élève fait un parcours sans faute, baccalauréat scientifique mention 
         bien, HEC puis DEA d'économie à Assas, avant malheureusement d’échouer 
         au concours d’entrée de l’ENA.</div></div>
   </div>
{% endblock %}