{% extends "template.html.twig" %}
{% block title %}
   {{ parent() }}
    Qui
{% endblock %}
{% block body %}
   <h2>Forget Me Not</h2>
     <div class="forget">Lorem Ipsum is simply dummy text of the printing and typesetting
       industry. Lorem Ipsum has been the industry's standard dummy text ever
       since the 1500s, when an unknown printer took a galley of type and
       scrambled it to make a type specimen book. It has survived not only
       five centuries, but also the leap into electronic typesetting, remaining
       essentially unchanged. It was popularised in the 1960s with the release
       of Letraset sheets containing Lorem Ipsum passages, and more recently
       with desktop publishing software like Aldus PageMaker including versions
       of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
       industry. Lorem Ipsum has been the industry's standard dummy text ever
       since the 1500s, when an unknown printer took a galley of type and
       scrambled it to make a type specimen book. It has survived not only
       five centuries, but also the leap into electronic typesetting, remaining
       essentially unchanged. It was popularised in the 1960s with the release
       of Letraset sheets containing Lorem Ipsum passages, and more recently
       with desktop publishing software like Aldus PageMaker including versions
       of Lorem Ipsum.</div>

   <div class="bloctexte">

     <div><h2>Patrick</h2>
       <div class="patrick">Lorem Ipsum is simply dummy text of the printing and typesetting
       industry. Lorem Ipsum has been the industry's standard dummy text ever
       since the 1500s, when an unknown printer took a galley of type and
       scrambled it to make a type specimen book. It has survived not only
       five centuries, but also the leap into electronic typesetting, remaining
       essentially unchanged. It was popularised in the 1960s with the release
       of Letraset sheets containing Lorem Ipsum passages, and more recently
       with desktop publishing software like Aldus PageMaker including versions
       of Lorem Ipsum.</div></div>

     <div><img src="{{ asset ('img/separation.png') }}" class="Separation"></a></div>

   <div><h2>Claire</h2>
     <div class="claire">Lorem Ipsum is simply dummy text of the printing and typesetting
       industry. Lorem Ipsum has been the industry's standard dummy text ever
       since the 1500s, when an unknown printer took a galley of type and
       scrambled it to make a type specimen book. It has survived not only
       five centuries, but also the leap into electronic typesetting, remaining
       essentially unchanged. It was popularised in the 1960s with the release
       of Letraset sheets containing Lorem Ipsum passages, and more recently
       with desktop publishing software like Aldus PageMaker including versions
       of Lorem Ipsum.</div></div>
   </div>
{% endblock %}